body{
    background-color: #ecd4e1;;
    font-family: poppins;
    color: #393D72;
}
.weather-container{
    width: 45%;
    display: block;
    margin: 45px auto;
    background-color: #faf9fa;
    padding: 25px;
    border: none;
    box-shadow: 2px 2px 7px;
    border-radius: 6px;
}
header{
    
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.174);
}

#search-box{
    background-color:#faeff5 ;
    border: none;
    width: 70%;
    height: 35px;
    margin-right: 60px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    
}
#submit-button{
    padding: 7px;
    background-color:#FF4880;
    height: 35px;
   
    border: none;
    border-radius: 5px;
    width: 90px;
    font-size: 18px;
    
}
.main_cols{
    display: flex;
    justify-content: space-between;
}

.weather-main-container{
    font-weight: 100;
}
h2 {
    margin-top: 0px;
    font-size: 30px;
    text-shadow: 1px 1px 2px pink;
}
.weather-main-details{
    display: flex;
    justify-content: space-between;
}
.temp{
    padding: 30px;
    display: flex;

}
#temp-emoji{
    font-size: 30px;
    margin-right: -10px;
    margin-top: -20px;
    border: 1px solid #fff0f0;
    height: 100px;
    position: absolute;
    width: 150px;
    
}
#temp-no{
    font-size: 30px;
    font-weight: 500;
    margin-left: 95px;
    margin-top: 10px;
}
.temp-unit{
    font-size: 18px;
    margin-top: 15px;
}

.Group_DayOfWeek{

    background-color: #faeff5;
    border-radius: 10px;
    padding: 10px 20px;
}
.DayOfWeek{
    font-size: 16px;
    color: #e9ebf7;
    font-weight: 500;
    font-style: bold;
    background-color: #FF4880;
    padding: 5px 10px;
    width: 60px;
    border: none;
    border-radius: 6px;
    margin: 4px 6px;
}
#description{
    color: #725f39;
    text-transform: capitalize;
    font-style: bold;
}
footer{
    font-weight: 100;
}
a{
    color: #FF4880;
    font-weight: 400;
}



